//$accent: #EBEDF3;
$default: #436372;
//$title: #000;
////$colorBtn: #ffffff;
//$bg: #15256E;
//$link: #354BB4;
//$error: #FE7F0B;
//$errorAccent: #1F78B4;
////
%Rubik-Medium-500 {
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 500;
  font-style: normal;
}
%DMSans-Regular-400 {
  font-family: "DMSans-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}
%GothamPro-Bold-700 {
  font-family: "GothamPro-Bold", sans-serif;
  font-weight: 700;
  font-style: normal;
}
//%robotoBlack-900 {
//  font-family: "Roboto-Black", sans-serif;
//  font-weight: 900;
//  font-style: normal;
//}
////%btn {
////  @extend %roboto-400;
////  text-transform: uppercase;
////  letter-spacing: 0.2em;
////  color: #ffffff;
////  padding: 12px 26px;
////  background-color: $accent;
////  box-shadow: 0px 10px 25px 0px rgba(254, 62, 87, 0.3);
////  border: none;
////}
////